/*/
!wp-content/
wp-content/*/
!wp-content/themes/
wp-content/themes/*/
!wp-content/themes/TIM/
!wp-content/plugins/
wp-content/plugins/*/
!wp-content/plugins/carrousel2/
// Ne pas ignorer les fichiers .gitignore et readme.md à la racine
!.gitignore
!readme.md