.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0%);
}

.reverse {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.showCube {
  opacity: 1;
}

.hideCube {
  opacity: 0;
}

// animation de rotation du texte
@keyframes rotateText {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

// animation de rotation des flèches hover
// sur le cube
@keyframes rotatefleche {
  0% {
    transform: translate(-2.7rem, -3.1rem) rotateZ(0deg);
  }
  100% {
    transform: translate(-2.7rem, -3.1rem) rotateZ(360deg);
  }
}

// .parallax img{
//     position: sticky; /* Changer de absolute à fixed */
//     width: 20%;
//     height: 10%;
//     /* Garde les marges pour le positionnement */
//     top: 10%; /* Ajuste selon ton besoin */
//     z-index: 6;
// }
// .fence-droite{
//     translate: 70vh;
// }
// .fence-gauche{
//     translate: -5vh;
// }
.dot{
  height: 5px;
  width: 5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  z-index: -9999999999;
  opacity: 0.3;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

//animation de scroll sur les evenements
.animation_apparait {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.animation_apparait.visible {
  opacity: 1;
  transform: translateY(0);
}

//animation ecriture description
.contenue_desc{
  font-size: 50px;
  position: relative;
  //margin-bottom: var(--margin-top);
  margin-top: var(--margin-top);
  // text-decoration: underline;
  // simuler le curseur clignotement
  font-family: var(--font-family-titre);
  color: var(--couleur-secondaire);
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  height: 5vh;
  user-select: none;
  
  @media screen and (max-width: 608px){
    height: 15vh;
    font-size: 35px;
  }

  &::after{
    content: '|';
    animation : clignotement 500ms step-start infinite;
    position: absolute;
    }
 
  @keyframes clignotement {
    50% {
      opacity: 0;
    }
  }
}

/* Animation d'apparition */
.animation_apparait.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Media Query pour les écrans plus petits (max-width: 1280px) */
@media screen and (max-width: 1280px) {
  .contenufunky h3 {
      filter: saturate(1) brightness(1.1); /* Augmenter la luminosité pour compenser la désaturation */
      padding: 10%;
      font-size: 20px;
  }
}
/*---------------------------------------------------------------------------------------------*/
/*-----------------------------animation contenue funky----------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
//animation des barres de statistiques
@media (min-width: 1280px) {
  .contenufunky {
    h3 {
      width: 100%;
      font-weight: normal;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px 20px inset;
      border-radius: 5px;
      letter-spacing: var(--letter-spacing);
      background: linear-gradient(90deg, rgba(236, 141, 32, 0.7) 0%, rgba(230, 61, 94, 0.7) 50%, rgba(44, 246, 253, 0.3) 100%);
      position: relative;
      overflow: hidden; /* Empêche l'animation de déborder */
      font-size: 2rem;

      span {
        position: relative;
        z-index: 2; /* Place le texte devant */
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0; /* Définit la position initiale */
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
        filter: grayscale(100%) saturate(0); /* Ajout de grayscale pour un effet noir et blanc */
        z-index: 1; /* Place le masque derrière le texte */
        opacity: 0;
        transition: left var(--transition-time) ease, opacity var(--transition-time); /* Ajoute une transition fluide pour le déplacement */
      }
    }
  }

  /* Premier élément - 64% */
  .first-element:hover::before {
    left: 64%; /* Déplace le masque vers la droite */
    opacity: 1;
  }

  /* Second élément - 36% */
  .second-element:hover::before {
    left: 36%; /* Déplace le masque à 36% */
    opacity: 1;
  }
}

/* Premier élément - 64% */
.first-element:hover::before {
  left: 64%; /* Déplace le masque vers la droite */
  opacity: 1;
}

/* Second élément - 36% */
.second-element:hover::before {
  left: 36%; /* Déplace le masque à 36% */
  opacity: 1;
}


