///////////cube principale/////////////////////
body {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: var(--couleur-primaire);
    font-family: var(--font-family-text);
    overflow-x: hidden;
    width: 100vw;
  }
      @media screen and (max-width: 1280px) {
    body .conteneur_404 {
        padding: var(--padding-tablette);
    }
      }
      @media screen and (max-width: 680px) {
    body .contconteneur_404{
        padding: var(--padding-mobil);
        margin: 0;
      }
  }
  body .conteneur_404 #scene {
        width: 200px;
        height: 200px;
        perspective: 600px;
        transition: perspective var(--transition-time);
        margin: 0 auto;
        margin-bottom: 35vh;
        margin-top: 40vh;
        position: relative;
        z-index: 9;
        transform: scale(1.5);
  }
        @media screen and (max-width: 1280px) {
    body .conteneur_404 #scene {
          transform: scale(1.1);
        }
      }

  @media screen and (max-width: 680px) {
    body .conteneur_404 {
      margin-top: var(--margin-top-mobile);
    }
  }
  body .conteneur_404 {
    display: flex;
    justify-content: space-between;
    width: var(--width-text);
    transition: var(--transition-time);
    margin: 0 auto;
    gap: 5%;
  }
  @media screen and (max-width: 1280px) {
    body .conteneur_404 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
///////////////cube adapter page 404/////////////////////////////////  


    @media (max-width: 768px) {
    .conteneur_404 {
      height: auto; /* Adapte la hauteur au contenu */
    }
}
    .erreur {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centre le texte horizontalement */
      justify-content: center;
    max-width: 600px;
    }
    .scene {
    max-width: 600px;

    }
    
  
    .error-code {
      font-size: 14rem;
      letter-spacing: 10px;
      color: transparent;
      position: relative;
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      background-clip: text;
      text-shadow: 0 0px rgba(255, 255, 255, 0.1);

      @media (max-width: 768px) {
        font-size: 10rem;
      }
    }

.error-code::before {
        content: '404';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 20% 30%, rgba(11, 152, 170, 1), transparent 10%),
                    radial-gradient(circle at 80% 70%, rgba(176, 7, 61, 1), transparent 10%),
                    radial-gradient(circle at 40% 80%, rgba(194, 83, 9, 1), transparent 10%),
                    radial-gradient(circle at 60% 40%, rgba(65, 236, 183, 1), transparent 10%),
                    radial-gradient(circle at 30% 60%, rgba(238, 99, 129, 1), transparent 8%);
        background-size: 300% 300%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: randomBubbles 15s infinite steps(30); /* Applique une animation aléatoire */
    }

@keyframes randomBubbles {
    0% {
        background-position: 20% 30%;
    }
    10% {
        background-position: 80% 70%;
    }
    20% {
        background-position: 40% 80%;
    }
    30% {
        background-position: 60% 40%;
    }
    40% {
        background-position: 70% 20%;
    }
    50% {
        background-position: 30% 60%;
    }
    60% {
        background-position: 80% 30%;
    }
    70% {
        background-position: 20% 80%;
    }
    80% {
        background-position: 50% 50%;
    }
    90% {
        background-position: 10% 10%;
    }
    100% {
        background-position: 60% 90%;
    }
}
  
  .error-text {
    font-size: 2rem;
    margin-top: 10px;
    color: var(--couleur-secondaire);
    text-align: center; /* Centre le texte dans le conteneur */
    width: 100%; /* Assure que le texte occupe toute la largeur de son parent */
    font-family: var(--font-family-text);
    font-style: normal;
  }