.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: translateX(0%);
}

.reverse {
    opacity: 0;  /* Transition vers l'opacité zéro */
    transform: translateX(-100%); /* L'animation reverse peut être plus rapide */
    transition: opacity 0.5s ease-in, transform 0.5s ease-in; /* Durée plus courte pour le reverse */
}
