body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: var(--margin-top-mobile) var(--margin-right-mobile) var(--margin-bottom-mobile) var(--margin-left-mobile);
    background-color: var(--couleur-noir);
    font-family: Arial, Helvetica, sans-serif;
}

.description_multimedia{
    margin-top: var(--margin-top-mobile);
}

