body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: var(--margin-top-mobile) var(--margin-right-mobile) var(--margin-bottom-mobile) var(--margin-left-mobile);
    background-color: var(--couleur-primaire);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin: 0;
}


//section ou on décrit quest ce que le multimédia
.description_multimedia{
    margin-top: var(--margin-top-mobile);
    background-color: red;
    text-align: left;
}

//section ou on montre les concours et les événements
.description_evenements{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    background-color: blue;
    height: 40vh;
}

.description_evenements:nth-of-type(even){
    background-color: green;
    flex-direction: row-reverse;
}

.bannieres{
    text-align: center;
    background-color: var(--couleur-secondaire);
}

.description_cours{
    color: var(--couleur-primaire);
    background-color: var(--couleur-secondaire);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    width: 70vw;
    height: 30vh;
    margin: 0 auto;
    padding: var(--padding-top-mobile);
    padding-top: 5vh;
}

//Style pour tabelette
@media screen and (min-width: 1280px){
    
}

//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}