body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: var(--margin-top-mobile) var(--margin-right-mobile) var(--margin-bottom-mobile) var(--margin-left-mobile);
    background-color: var(--couleur-primaire);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin: 0;
}

.conteneur{
    width: 100vw;
}

//section ou on décrit quest ce que le multimédia
.description_multimedia{
    margin-top: var(--margin-top-mobile);
    background-color: red;
    text-align: left;
    width: 100%;
}

//section ou on montre les concours et les événements
.description_evenements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
    //Style pour tabelette
    @media screen and (min-width: 1280px){
        flex-direction: row;
    }
}

.description_evenements:nth-of-type(even){
    background-color: green;
    //Style pour tabelette
    @media screen and (min-width: 1280px){
        flex-direction: row-reverse;
    }
}

.img_evenements{
    width: 90vw;
    height: 90vw;
    background-color: white;
    //Style pour tabelette
    @media screen and (min-width: 1280px){
        width: 40vw;
        height: 40vw;
    }
}

.bannieres{
    text-align: center;
    background-color: var(--couleur-secondaire);

}



//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}