button{
    background-color: transparent;
    border: none;
}

.bouton_cube{

}

.bouton_cube a{
    text-decoration: none;
    color: var(--couleur-primaire);
}

//Style pour tabelette
@media screen and (min-width: 1280px){
    
}

//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}