

    .description_cours{
        width: 83vh;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        width: 70vw;
        height: fit-content;
        margin: 0 auto;
        padding: var(--padding-top-mobile);
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

.texte_cours,.Sessions,.préalable{
    width: 83vh;
    border-radius: 5px;
}
.Sessions{
    padding: 1vh;
}
.préalable {
    padding: 1vh;
}
