header {
    position: fixed;
    top: 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 99%;
    position: fixed;
    left: 0.5%;
    margin: var(--margin-top-mobile) var(--margin-right-mobile) var(--margin-bottom-mobile) var(--margin-left-mobile);  
}

.conteneur_burger_recherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 50px;
    width: 25vw;//si plus petit, le cube ne tourne pas sur son centre
    @media screen and (min-width: 1280px){
        height: 94px;
    }
}


header .conteneur_logo_tim .TIM_entete{
    text-align: left;
    display: none;
    @media screen and (min-width: 1280px){
        display: block;
    }
}

.conteneur_logo_tim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--margin-left-mobile);
}

.logo_tim{
    width: 50px;
    height: 50px;
    @media screen and (min-width: 1280px){
        width: 94px;
        height: 94px;
    }
}

.conteneur_barre_recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_recherche{
    display: none;
    @media screen and (min-width: 1280px){
        display: block;
        text-decoration: none;
        background-color: transparent;
        border: 2px solid var(--couleur-secondaire);
        border-radius: 15px;
        padding: var(--padding-top-mobile);
        color: var(--couleur-secondaire);
    }
}

.fa-magnifying-glass{
    color: var(--couleur-secondaire);
    font-size: 30px;
}