header {
    position: fixed;
    top: 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 82%;
    position: fixed;
    left: 0.5%;
    margin: var(--margin-top-mobile) var(--margin-right-mobile) var(--margin-bottom-mobile) var(--margin-left-mobile);  
    @media screen and (min-width: 1280px){
        width: 87%;
    }
}

.conteneur_burger_recherche{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 150px;
    @media screen and (min-width: 1280px){
        height: 94px;
    }
}

header .conteneur_logo_tim .TIM_entete{
    text-align: left;
    display: none;
    @media screen and (min-width: 1280px){
        display: block;
    }
}

.conteneur_logo_tim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--margin-left-mobile);
}

.logo_tim{
    width: 50px;
    height: 50px;
    @media screen and (min-width: 1280px){
        width: 94px;
        height: 94px;
    }
}

.text_recherche{
    display: none;
}

.fa-magnifying-glass{
    color: var(--couleur-secondaire);
    font-size: 30px;
}


//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}