// ATTENTION - Contrôle du texte, balise p
///////////////////////////////////////////////////

p {
  color: var(--couleur-secondaire);
  font-weight: 300;
  font-size: var(--font-size-text);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  //Style pour Tabelette
  @media screen and (min-width: 1280px) {
    // width: 57vw;
  }

  // Style pour Mobile
  @media screen and (max-width: 680px) {
    padding: 10%;
    width: 80%;
  }
}

p.info_colonne_footer {
  @media screen and (max-width: 680px) {
    padding: 1%;
    padding-left: 5%;
  }
}

// Ce sélecteur n'est plus en utilisation

// .espace_gauche_descmulti p {
//   @media screen and (min-width: 1280px) {
//     font-size: 20px;
//   }
//   font-weight: 100;
// }

.bulles_contenu p {
  border-top: 2px solid var(--couleur-secondaire);
  border-bottom: 2px solid var(--couleur-secondaire);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(109, 109, 109, 0.25) 0px 30px 80px -20px inset;

  // Pas de variables ici, à voir
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  // margin: 2%;

  text-align: center;
  transition: 1s;

  // Est-ce que le font-size ici est essentiel?
  // font-size: var(--taille-paragrahpe-ordi);

  // Les medias ici à vérifier...
  @media screen and (max-width: 1280px) {
    padding: 5%;
    width: 50%;
  }

  @media screen and (max-width: 680px) {
    padding: 10%;
    width: 50%;
  }
}

.bulles_contenu p:hover {
  //Le display flex déplace le contenu à gauche sans raison...
  // ///////////////////////////////

  // border: 2px solid rgba(255, 255, 255, 0.3);
  // animation: changerFondCouleur 3s infinite;
  // Les medias ici à vérifier...
}

@keyframes changerFondCouleur {
  0% {
    background-color: transparent;
  }
  5% {
    background-color: transparent;
  }
  30% {
    background-color: rgba(236, 141, 32, 0.7); //orange
  }
  60% {
    background-color: rgba(230, 61, 94, 0.7); //magenta
  }
  90% {
    background-color: rgba(44, 211, 253, 0.3); //cyan
  }
  100% {
    background-color: transparent;
  }
}

// Texte disant interaction pour le cube
.info_action {
  // Est-ce que le font size ici est essentiel?
  // font-size: 12pt;
  text-align: center;

  color: var(--couleur-secondaire);
  opacity: 0;
  transform: translateY(-15vh);
  width: fit-content;
  margin: 0 auto;
  user-select: none;

  transition: 1s;
}

li {
  color: var(--couleur-secondaire);
  margin: 10px;
}

.texte_hero {
  h1,
  h3 {
    color: var(--couleur-secondaire);
  }
}

//Style pour tabelette
@media screen and (min-width: 1280px) {
}

//Style pour Ordinateur
@media screen and (min-width: 1920px) {
}
