//feuille de style du pied de page
footer{
    background-color: purple;
    width: 100vw;
    height: 100vh;
}

.info_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90vw;
    margin: 0 auto;
}

.colonne_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 100%;
}

.titre_footer{
    color: var(--couleur-secondaire);
    width: 30vh;
}

//Style pour tabelette
@media screen and (min-width: 1280px){
    
}

//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}