.section_hero{
    width: 100vw;
    height: fit-content;
    margin-top: 100vh;
    .video_hero {
        width: 100vw;
    }

    .text_hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(-200%);
        h1{
            font-size: 30px;
        }
        h3{
            font-size: 20px;
        }
    }
}
