.section_hero {
  width: 100%;

  @media screen and (max-width: 680px) {
  }

  .video_hero {
    width: 100%;

    @media screen and (max-width: 680px) {
    }
  }

  .text_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    width: 50vw;
    margin: 0 auto;
    @media screen and (max-width: 680px) {
      width: 50vw;
    }
    
    h1 {
      font-size: 6rem;
      z-index: 100;
      font-family: "ivyora-display", sans-serif;
      box-shadow: rgba(239, 170, 91, 1) 10px 15px 20px ,
      rgba(237, 83, 96, 1) -5px 10px 20px ,
      rgba(103, 215, 249, 1) 0px -10px 20px ;
    }
    h3 {
      font-size: 4rem;
      z-index: 100;
      font-family: "ivyora-display", sans-serif;
      box-shadow: rgba(239, 170, 91, 1) 10px 15px 20px ,
      rgba(237, 83, 96, 1) -5px 10px 20px ,
      rgba(103, 215, 249, 1) 0px -10px 20px ;
    }
  }
}