h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--couleur-secondaire);
    margin-left: var(--margin-left-mobile);
}

h2{
    font-weight: bold;
    font-size: 25px;
    color: var(--couleur-secondaire);
}

.bannieres h2{
    color: var(--couleur-primaire);
}

h3{
   font-weight: bold;
   color: var(--couleur-secondaire);
   margin-left: var(--margin-left-mobile);
}

.cube div h3{
    color: var(--couleur-primaire);
}

h4{
    margin: 0;
}

//Style pour tabelette
@media screen and (min-width: 1280px){
    
}

//Style pour Ordinateur
@media screen and (min-width: 1920px){
    
}