h1{
    font-weight: bold;
    font-size: 30px;
    color: var(--couleur-blanc);
}

h2{
    font-weight: bold;
    font-size: 25px;
    color: var(--couleur-blanc);
}

h3{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: var(--couleur-noir);
}