h1 {
  font-weight: bold;
  font-size: 60px;
  color: var(--couleur-secondaire);
  margin-left: var(--margin-left-mobile);
  font-family: var(--font-family-titre);
  user-select: none;

  .text_multimedia {
    letter-spacing: var(--letter-spacing);
    user-select: none;
    color: transparent; /* Make text transparent */
    background: linear-gradient(
      90deg,
      rgba(236, 141, 32) 0%,
      rgba(230, 61, 94) 50%,
      rgba(44, 246, 253) 100%
    );
    -webkit-background-clip: text; /* Apply the gradient to the text */
    background-clip: text; /* Standard property */
  }

  @media screen and (max-width: 1280px) {
    font-size: 40px;
  }

  @media screen and (max-width: 680px) {
    font-size: 30px;
  }
}

.text_hero h1 {
  font-family: var(--font-family-text);
  font-size: 40px;
  font-style: normal;
}

.conteneur_logo_tim a h2 {
  font-family: var(--font-family-text);
  font-size: 25px;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  color: var(--couleur-secondaire);
  font-family: var(--font-family-titre);
  text-align: left;
  user-select: none;
  letter-spacing: var(--letter-spacing);
  user-select: none;
}

.bannieres h2 {
  color: var(--couleur-primaire);
}

h3 {
  font-size: var(--font-size-titre);
  // font-weight: bold;
  color: var(--couleur-secondaire);
  margin-left: var(--margin-left-mobile);
}

.cube div h3 {
  color: var(--couleur-primaire);
}

h4 {
  margin: 0;
}

.details {
  margin: 0 auto;
  width: 70vw;
  padding: 1.5%;
  color: var(--couleur-secondaire);
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.335);

  // box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 5px inset,
  //   rgba(11, 152, 170, 0.5) 10px 10px 10px,
  //   rgba(176, 7, 61, 0.5) -10px 10px 10px, rgba(194, 83, 9, 0.8) 0px -5px 10px;
  // box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;

  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgb(93, 51, 3) 0%,
    rgb(57, 3, 12) 50%,
    rgb(3, 45, 47) 100%
  );

  // box-shadow: rgba(11, 152, 170, 0.5) 10px 10px 10px,
  //   rgba(176, 7, 61, 0.5) -10px 10px 10px, rgba(194, 83, 9, 0.8) 0px -5px 10px;

  font-size: larger;
  font-family: var(--font-family-text);
  transform: translateY(0vh);
  user-select: none;
}

//Style pour tabelette
@media screen and (min-width: 1280px) {
}

//Style pour Ordinateur
@media screen and (min-width: 1920px) {
}
