button {
  background-color: transparent;
  border: none;
}

.cube .bouton_cube {
  padding: 5%;
  background-color: rgba(120, 120, 120, 0.2);
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 15px 0px inset;
  border: 1px solid rgb(0, 0, 0);
}

.bouton_cube a {
  text-decoration: none;
  color: var(--couleur-primaire);
}

.retour {
  border: 2px solid white;
  text-align: center;
  box-shadow: rgba(11, 152, 170, 0.25) 10px 15px 20px inset, rgba(176, 7, 61, 0.25) -5px 10px 20px inset, rgba(194, 83, 9, 0.3) 0px -10px 20px inset;
  color: #fff;
  border-radius: 20px;
  padding: 8% 8%; /* Augmente la taille du bouton avec plus de padding */
  font-size: 1.5rem; /* Augmente la taille du texte */
  margin-top: 5%;
  transition: box-shadow 0.4s ease, color 0.4s ease;
  text-decoration: none;
}


.retour:hover {
 box-shadow: rgba(36, 36, 36, 0.25) 10px 15px 20px inset, rgba(65, 65, 65, 0.25) -5px 10px 20px inset, rgba(46, 34, 26, 0.3) 0px -10px 20px inset;
 color: #fff;
}

.inscription_bouton{
  border: 2px solid white;
  text-align: center;
  box-shadow: rgba(11, 152, 170, 0.25) 10px 15px 20px inset, rgba(176, 7, 61, 0.25) -5px 10px 20px inset, rgba(194, 83, 9, 0.3) 0px -10px 20px inset;
  color: #fff;
  border-radius: 20px;
  padding: 5% 5%; /* Augmente la taille du bouton avec plus de padding */
  font-size: 1.5rem; /* Augmente la taille du texte */
  margin-top: 5%;
  transition: box-shadow 0.4s ease, color 0.4s ease;
  text-decoration: none;
  width: 60%;

  @media screen and (min-width: 1280px) {
    padding: 2% 2%;
    
  }

  &:hover {
    box-shadow: rgba(36, 36, 36, 0.25) 10px 15px 20px inset, rgba(65, 65, 65, 0.25) -5px 10px 20px inset, rgba(46, 34, 26, 0.3) 0px -10px 20px inset;
    color: #fff;
   }
}
