.conteneur_search {
  margin-top: 20vh;

  .resultat_recherche {
    width: 70vw;
    display: flex;
    flex-direction: row;
    gap: 3vh;

    .recherche_text {
      font-family: var(--font-family-text);
      font-style: normal;
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: var(--logo-pas-colle);
}
/* Hides the screen reader text */
.screen-reader-text {
  display: none;
}

/* Styles the search input field */
#s {
  width: 35vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(0, 0, 255, 0);
  flex: 1;
  color: #ccc;
}
/* Changes border color on focus */
#s:focus {
  border-color: #0073e6; /* Highlight color */
}

/* Changes button color on hover */
#searchsubmit {
  background: none;
  border: none;
  cursor: pointer;
}
/* Styles the search submit button */
#searchsubmit {
  fill: white; /* White icon color */
  // width: 10vw;
  height: 20px;
  transition: fill 0.3s ease;
}

.conteneur_search {
  padding-bottom: 10%;
}

.recherche_text {
  letter-spacing: var(--letter-spacing);
  color: transparent; /* Make text transparent */
  background: linear-gradient(
    90deg,
    rgba(236, 141, 32) 0%,
    rgba(230, 61, 94) 50%,
    rgba(44, 246, 253) 100%
  );
  -webkit-background-clip: text; /* Apply the gradient to the text */
  background-clip: text; /* Standard property */
}
.texte_r_search {
  color: white;
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 200;
  font-style: normal;
}
