/**********************************************************************/
/**************************DESKTOP**************************************/
/**********************************************************************/
// Style pour le conteneur search au complet
.conteneur_search {
  margin-top: 20vh;
  padding-bottom: 10%;
  // Style pour le résultat de recherche
  .resultat_recherche {
    display: flex;
    justify-content: center;
    gap: 3vh;
    width: 88%;
    scale: 1.3;
    width: 70vw;
    gap: 3vh;
    // Le style de font pour le contenu du résultat de la recherche
    .recherche_text {
      font-family: var(--font-family-text);
      font-style: normal;
    }
  }
}

// style pour la barre de recherche
.search-container {
  display: flex;
  align-items: center;
  margin-right: var(--logo-pas-colle);
}

.screen-reader-text {
  display: none;
}
// Style en général pour le contenu de la recherche
.recherche_text {
  letter-spacing: var(--letter-spacing);
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(236, 141, 32) 0%,
    rgba(230, 61, 94) 50%,
    rgba(44, 246, 253) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.details {
  display: flex;
  flex-direction: column;
}
// Style pour le texte écrit dans la barre de recherche
#s {
  width: 35vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(0, 0, 255, 0);
  flex: 1;
  color: #ccc;
}

#s:focus {
  border-color: #0073e6;
}
// Style pour le bouton de recherche
#searchsubmit {
  background: none;
  border: none;
  cursor: pointer;
}

#searchsubmit {
  fill: white;
  height: 20px;
  transition: fill 0.3s ease;
}

// Style pour le contenu de la recherche
.conteneur-resultat-search {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 70vw;
}

// Style pour le résultat de notre recherche avec le gradient
.recherche_text {
  letter-spacing: var(--letter-spacing);
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(236, 141, 32) 0%,
    rgba(230, 61, 94) 50%,
    rgba(44, 246, 253) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
// Style pour le titre de la recherche
h3.titre_r_search {
  font-size: xx-large;
  margin-bottom: 2%;
  letter-spacing: var(--letter-spacing);
  font-weight: normal;
}

// Style pour l'encadrée qui montre l'explication de la recherche
.texte_r_search {
  color: white;
  border: 2px solid white;
  font-family: "niveau-grotesk", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  padding: 3%;
  margin: 3%;
  font-style: normal;
  margin-top: 0;
  border-radius: var(--border-radius);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(109, 109, 109, 0.25) 0px 30px 80px -20px inset;
}
// Style pour indiquer que c'est la fin des recherches
.texte_fin_recherche{
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10%;
}

/**********************************************************************/
/**************************MOBILE**************************************/
/**********************************************************************/

@media screen and (max-width: 680px) {

  .conteneur_search{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .conteneur_search .recherche_titre {
    font-size: x-large;
    margin-bottom: 0;
  }

  .resultat_recherche{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }
  

  .recherche_text{
    margin-top: 0;
    font-size: 1.5rem;
  }

  h3.titre_r_search{
    font-size: 1.6rem;
    margin-bottom: 12%;
    margin-top: 15%;
  }

  .texte_r_search{
    padding: 10%;
    font-size: large;
  }

  .texte_fin_recherche{
    margin-top: 5%;
    font-size: 1rem;
  }
}