:root{
    //margin - mobile
    --margin-left-mobile: 10px;
    --margin-right-mobile: 10px;
    --margin-top-mobile: 10px;
    --margin-bottom-mobile: 10px;

    //margin - tablette
    --margin-left-tablette: 15px;
    --margin-right-tablette: 15px;
    --margin-top-tablette: 15px;
    --margin-bottom-tablette: 15px;

    //margin - ordinateur
    --margin-left-ordi: 20px;
    --margin-right-ordi: 20px;
    --margin-top-ordi: 20px;
    --margin-bottom-ordi: 20px;

    //police d'ecriture
    --font-family-text: "Arial", sans-serif;
    --font-family-titre: ;

    //couleur
    
}