.testdegrade {
  position: absolute;
  height: 20vh;
  width: 13vw;
  z-index: -1;
  //border: 10px solid blueviolet;
  box-shadow: rgba(255, 255, 255, 0.739) 0px 0px 300px 30px;
  border-radius: 50%;
}

.degrade1orange {
  //éléments à vérifer
  position: absolute;
  height: 20vh;
  width: 13vw;
  z-index: -1;

  //effet de glow en background
  box-shadow: var(--couleur-orange) 50px -60px 200px 20px;
  filter: saturate(2);
  border-radius: 50%;
}

.degrade1cyan {
  //éléments à vérifer
  position: absolute;
  height: 20vh;
  width: 13vw;
  z-index: -1;

  //effet de glow en background
  box-shadow: var(--couleur-cyan) -30px 0px 300px 30px;
  filter: saturate(3);
  border-radius: 50%;
}

.degrade1magenta {
  //éléments à vérifer
  position: absolute;
  height: 20vh;
  width: 14vw;
  z-index: -1;

  //effet de glow en background
  box-shadow: var(--couleur-magenta) 25px 50px 300px 30px;
  filter: saturate(3);
  border-radius: 50%;
}
