:root {
  // MOBILE
  // ////////////////////////////
  --margin-mobil: 2vw;
  --padding-mobil: 2vw;

  // taille de la police
  --taille-paragrahpe-mobile: ;
  --taille-titre-mobile: ;

  // TABLETTE
  // /////////////////////////////
  --margin-tablette: 5vw;
  --padding-tablette: 2vw;

  // taille de la police
  --taille-paragrahpe-tablette: ;
  --taille-titre-tablette: ;

  // ORDINATEUR
  // /////////////////////////////
  --margin-ordi: 5vw;
  --padding-ordi: 2vw;

  --padding-regulier-ordi: 2%;

  // taille de la police
  --font-size-text: 14pt;
  --font-size-titre: 16pt;

  --taille-paragrahpe-ordi: 1.3rem;
  --taille-titre-ordi: ;

  // UNIVERSEL
  // ////////////////////////////
  --margin-top: 10vh;
  --width-text: 70vw;

  // Police d'ecriture - changer partout
  --font-family-text: "niveau-grotesk", sans-serif;
  --font-family-titre: "century-gothic", sans-serif;
  --letter-spacing: 4px;

  // Couleur
  --couleur-secondaire: #f0f0f0;
  --couleur-secondaire-hover: #d6d6d6;
  --couleur-primaire: #1a1a1a;
  --couleur-primaire-hover: #333333;

  --couleur-orange: #ffd472;
  --couleur-magenta: #ffaab1;
  --couleur-cyan: #96e7ff;

  --couleur-test-orange: #efaa5b;
  --couleur-test-magenta: #ed5360;
  --couleur-test-cyan: #67d7f9;


  //dégradé
  --coulleur-degrade-1: rgb(236, 141, 32) 0%;
  --coulleur-degrade-2: rgb(230, 61, 94) 50%;
  --coulleur-degrade-3: rgb(44, 246, 253) 100%;

  // Border radius
  --border-radius: 15px;

  // Gap
  --format-gap: 5%;

  // Pour les logos
  --logo-pas-colle: 2%;

  // Pour le curseur personnalisé
  --mouse-x: 0px;
  --mouse-y: 0px;

  --transition-time: 1s;


}
