:root {
  // Mobil
  --margin-mobil: 2vw;
  --padding-mobil: 2vw;
  //taille de la police
  --taille-paragrahpe-mobile: ;
  --taille-titre-mobile: ;

  // Tablette
  --margin-tablette: 5vw;
  --padding-tablette: 2vw;
  //taille de la police
  --taille-paragrahpe-tablette: ;
  --taille-titre-tablette: ;

  // Ordinateur
  --margin-ordi: 5vw;
  --padding-ordi: 2vw;
  //taille de la police
  --taille-paragrahpe-ordi: 1.3rem ;
  --taille-titre-ordi: ;

  //Universel
  --margin-top: 10vh;
  --width-text: 70vw;

  //police d'ecriture - changer partout
  --font-family-text: "niveau-grotesk", sans-serif;
  --font-family-titre: "century-gothic", sans-serif;
  --letter-spacing: 4px;

//couleur
  --couleur-secondaire: #f0f0f0;
  --couleur-secondaire-hover: #d6d6d6;
  --couleur-primaire: #1a1a1a;
  --couleur-primaire-hover: #333333;

  --couleur-orange: #ffd472;
  --couleur-magenta: #ffaab1;
  --couleur-cyan: #96e7ff;

  --couleur-test-orange: #efaa5b;
  --couleur-test-magenta: #ed5360;
  --couleur-test-cyan: #67d7f9;

  //border radius
  --border-radius: 15px;

  //Gap
  --format-gap: 5%;

  //Pour le curseur personnalisé
  --mouse-x: 0px;
  --mouse-y: 0px;

  --transition-time: 1s;
}
